@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

header {
    display: inline;
 }


 .jumbotron {
   font-size: 20px;
   padding: 60px;
   background-color: #171717;
   text-align: center;
   color: #fff;
}

nav li {
   display: inline;
   list-style-type: none;
   margin-right: 20px;
}

nav {
   background-color: #303030;
   padding: 5px;
   position: sticky;
   top: 0;
}

nav a {
   font-size: 18px;
   font-weight: 400;
   text-decoration: none;
   color: white;
}

nav a:hover {
   font-weight: bold;
   color: #ec4e73;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
}

main {
    padding: 20px;
    overflow: auto;
 }

h2, h3 {
   color: #fff;
}

article {
   color: #fff;
}

 

 .profile header {
    text-align: center;
 }

 .featured-image {
    float: right;
    margin-left: 10px;
    width: 300px;
    max-height: 150px;
    object-fit: cover;
    object-position: center;
 }

 .profile img {
    width: 200px;
 }

 .card {
    background-color: #171717;
    border-radius: 10px;
    border: 1px solid #262626;
    padding: 20px;
    margin-top: 20px;
 }


 #content {
    float: left;
    width: 75%;
 }

 aside {
    float: right;
    width: 25%;
    padding-left: 20px;
 }

 footer {
   padding: 20px;
   color: white;
   background-color: #303030;
   text-align: center;
   font-weight: bold;
}

 @media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }

    .featured-image {
      display: block;
      float: none;
      margin: 0 auto;
    }

    .card {
       overflow: hidden;
    }
 }
